/* formatting for all elements */
img,embed, object, video {
  max-width: 100%;
}

*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, Verdana;
}

/* logo, name, and header formatting */
header{
  display: flex;
  width: 100%;
  max-height: 5%;
  border-bottom: 2px solid #7d97ad;
}

.logo{
  display: inline-block;
  left: auto;
  max-width: 25%;
  margin: 0 0 0 5%;
}

.author{
  display: inline-block;
  padding: 5% 0 0 0;
  right: auto;
  width: 65%;
  max-height: 15%;
}

/* header text formatting */
h1{
  text-align: right;
  margin-bottom: 0;
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #7d97ad;
}

h3{
  text-align: right;
  margin-top: 0;
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #7d97ad;
}

/* featured work title */
h2{
  text-align: center;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: lighter;
  color: #7d97ad;
}

/* main image sizing */
.main-image{
  margin: 2.5%;
  max-height: 50%;
}

/* formatting for individual projects */
.project{
  margin: 0 5%;
}

.project-image{
  padding: 0 15%;
}

.project-title{
  text-align: center;
  font-size: 4vw;
  vertical-align: text-top;
  text-transform: uppercase;
  font-weight: lighter;
  color: #2d3c49;
}

a{
  display: block;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 5%;
  vertical-align: text-top;
  text-transform: lowercase;
  font-weight: lighter;
  color: #2d3c49;
}
